body{
  max-width: 1200px;
  margin: 0 auto;
}

.complete{
  text-decoration: line-through;
  color: gray;
}

.pointer:hover {
  cursor: pointer;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  color: var(--main-accent);
  border: 1px solid var(--main-accent);
  border-radius: 10px;
  white-space: nowrap;
}

.tag-btn {
  display: inline-block;
  font-size: 0.8em;
  color: var(--main-accent);
  border: 1px solid var(--main-accent);
  border-radius: 10px;
}

.tag-btn:focus, .tag-btn:active {
  outline: none;
}

.plus-button {
  display: inline-block;
  font-size: 1.2em;
  transform: rotate(0deg);
  transition: all 0.2s;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle:after{ 
  content: none;
}

.dropdown-menu {
  border: 1px solid var(--main-accent);
  border-radius: 10px;
}

.dropdown-menu > input {
  border: none;
  border-bottom: 1px solid gray;
}

.dropdown-tag{
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

.todo {
  border-bottom: 1px solid #d3d3d3;
}

.todo:last-child {
  border-bottom: none;
}

.navbar{
  border-bottom: 1px solid #d3d3d3;
}

.navbar-brand{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-accent)
}

.rotate{
  display: inline-block;
  transform: rotate(45deg);
}

.login-container{
  max-width: 800px;
}

.wrapper > input {
  border: none;
}

.mobile-tags-dropdown{
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 70%;
}
