body{
  max-width: 1200px;
  margin: 0 auto;
}

.complete{
  text-decoration: line-through;
  color: gray;
}

.pointer:hover {
  cursor: pointer;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 10px;
  white-space: nowrap;
}

.tag-btn {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 10px;
}
.date-btn {
  display: inline-block;
  font-size: 0.8em;
  border: none;
  color: #6c757d;
}

.date-btn-mobile{
  border: none;
  color: #6c757d;
}

input[type="date"]{
  -webkit-appearance: textfield;
  display: block;
}

.tag-btn:focus, .tag-btn:active, .date-btn:focus, .date-btn:active {
  outline: none;
}

.plus-button {
  display: inline-block;
  font-size: 1.2em;
  transform: rotate(0deg);
  transition: all 0.2s;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle:after{ 
  content: none;
}

.dropdown-menu {
  border: 1px solid var(--main-accent);
  border-radius: 10px;
}

.dropdown-menu > input {
  border: none;
  border-bottom: 1px solid gray;
}

.dropdown-tag{
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

.todo {
  border-bottom: 1px solid #d3d3d3;
}

.todo:last-child {
  border-bottom: none;
}

.navbar {
  border-bottom: 1px solid #d3d3d3;
}

.navbar-brand{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-accent)
}

.rotate{
  display: inline-block;
  transform: rotate(45deg);
}

.login-container{
  max-width: 800px;
}

.wrapper > input {
  border: none;
}

.mobile-tags-dropdown{
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 70%;
  border: 1px solid #d3d3d3;
  border-top: none;
}

.todo-mobile{
  border-bottom: 1px solid #d3d3d3;
}

.todo-drop-mobile{
  border-bottom: 1px solid #d3d3d3;
}

.todo-mobile:last-child{
  border-bottom: none;
}

#hero h1{
  font-size: calc(4vw + 2.5rem);
  font-weight: bold;
  line-height: 1em;
}

.responsive-border{
  border-right: 1px solid #d3d3d3;
}

.responsive-border:last-child{
  border: none;
}

.login-form{
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
}

.login-form button {
  font-size: 1.1em;
}

@media only screen and (max-width: 768px) {
  .responsive-border{
    border: none;
  }

  .responsive-border::after{
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 50%;
    border-bottom: 1px solid #d3d3d3;
  }

  .responsive-border:last-child::after{
    content: none;
  }
}